<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="icon" href="data:;base64,iVBORw0KGgo=">
    <meta charset="UTF-8">
    <title>Terraform_toy!</title>
    <link rel="stylesheet" href="/static/style.css">
    <script type="text/javascript" src="/static/radicals.js"></script>

    <style type="text/css">
        body {
            user-select: none;
        }

        h4 {
            font-family: sans-serif;
        }

        p {
            font-family: sans-serif;
        }

        a {
            font-family: sans-serif;
            color: #d15423;
            text-decoration: none;
        }
    </style>


</head>

<body>
    {% include "header.html" %}
    <hr />
    <table border='1'>
        <tr>

            <td valign="top" align="right">
                <button onClick="getLeftNill()">getLeftNill</button><br/>
                <button onClick="getRightNill()">getRightNill</button><br/>
                <button onClick="getTopNill()">getTopNill</button><br/>
                <button onClick="getBottomNill()">getBottomNill</button><br/>
                <button onClick="getBottomTop()">getBottomTop</button><br/>
            </td>
            <td valign="top">
                <canvas id="canvas" width="400" height="400"></canvas>
            </td>
            <td valign="top">
                <table border="1">
                    <tr>
                        <th>active</th>
                        <th>state</th>
                        <!-- <th>lastActive</th> -->
                    </tr>
                    <tr>
                        <th id="active">&nbsp;</th>
                        <th id="state">&nbsp;</th>
                        <!-- <th id="lastActive">&nbsp;</th> -->
                        
                    </tr>

                </table>
                <table border="1">
                    <tr>
                        <th>name</th>
                        <th>x</th>
                        <th>y</th>
                        <th>kanji</th>
                        <th>size</th>
                        <th>english</th>
                        <th>bigger</th>
                        <th>smaller</th>
                    </tr>
                    <tr>
                        <td id="nA"></td>
                        <td id="xA"></td>
                        <td id="yA"></td>
                        <td id="kA"></td>
                        <td id="sA"></td>
                        <td id="eA"></td>
                        <td><button onClick='sizer(0, 2)'>A+</button></td>
                        <td><button onClick='sizer(0, -2)'>A-</button></td>
                    </tr>
                    <tr>
                        <td id="nB"></td>
                        <td id="xB"></td>
                        <td id="yB"></td>
                        <td id="kB"></td>
                        <td id="sB"></td>
                        <td id="eB"></td>
                        <td><button onClick='sizer(1, 2)'>B+</button></td>
                        <td><button onClick='sizer(1, -2)'>B-</button></td>

                    </tr>

                </table>


            </td>




        </tr>
    </table>
    <hr />


    <script>
        class Thing {
            constructor(x, y, kanji, name, english) {
                this.size = 100
                this.x = x
                this.y = y
                this.kanji = kanji
                this.name = name
                this.english = english

            }
            updateDom() {
                const n = 'n' + this.name
                const x = 'x' + this.name
                const y = 'y' + this.name
                const k = 'k' + this.name
                const s = 's' + this.name
                const e = 'e' + this.name

                document.getElementById(n).innerHTML = "&nbsp;&nbsp; " + this.name
                document.getElementById(x).innerHTML = this.x
                document.getElementById(y).innerHTML = this.y
                document.getElementById(k).innerHTML = "&nbsp;&nbsp; " + this.kanji
                document.getElementById(s).innerHTML = this.size
                document.getElementById(e).innerHTML = this.english
            }
        }


    </script>



    <script type="text/javascript" src="/static/gui.js"></script>

</body>

</html>